<div data-role="page">
<div data-role="header"></div>
<div data-role="content">
	<!--% if @friend_ids.blank? %-->
	<div><%= link_to '추천친구 보기', friends_path, style: "text-decoration: none;" %></div>
	<!--% end %-->
	<% @feeds.each do |feed| %>
		<div id="feed_container_<%=feed.id%>" style="margin-top: 20px; border: 1px solid #c3c3c3;">
		  <div class="feed_box">
			<div class="nick">
				<% if feed.user.profile_photos[0] %>
				  <div class="user_photo" style="float: left;"><%= image_tag feed.user.profile_photos[0].image.thumb.url %></div>
				<% end %>
				<div class="user_nick" style="float: left; padding: 12px 0 12px 5px;"><%=feed.user.nick%></div>
				<% if feed.user_id == current_user.id %>
					<div class="user_delete" style="float: right; padding: 12px 0 12px 0;"><%= link_to '삭제', comment_feed_path(feed) %></div>
				<% end %>
			</div>
			<div></div>
			<div class="content" style=""><%=feed.content%></div>
			<% if feed.feed_photos[0] %>
			    <div class="photo" style="">
			    	<%= image_tag feed.feed_photos[0].image_url, style: "width:100%" %>
			    </div>
			<% end %>
		  </div>
		  <div class="like_box" style="margin: 0 10px;height: 20px; line-height: 20px; ">
		  	<span style="padding-left: 5px;">like: </span><span class="like_cnt"><%=feed.likes.count%></span>
		  </div>
		  <div class="like_comment_box" style="margin:0 10px;height: 30px; line-height: 30px;">
		  	<div class="" style="float: left; margin-left: 5px;"><span class="feed_like" data-feed-id="<%=feed.id%>" href="">like</span></div>
		  	<div class="" style="float: left; margin-left: 5px;">
		  		<%= link_to 'comment', comment_feed_path(feed) %>
		  	</div>
		  </div>
		</div>  	
	<% end %>
	<div class="feed_bottom" style=""></div>
</div>
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#" class="ui-btn-active" data-icon="grid">feed</a></li>
				<li><a href="#" data-icon="heart">heart</a></li>
				<li>
					<a href="#new" data-icon="plus">heart</a>
					<!--%= link_to 'write', new_feed_path, data:{icon: 'plus' } %-->
				</li>
				<li><a href="#" data-icon="search">search</a></li>
				<li><a href="#" data-icon="gear">setting</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- <script>
  $(function() {  
  //var faye = new Faye.Client('http://localhost:9292/faye');  
  var faye = new Faye.Client(<%=CONFIG['websocket_host']%>);
  faye.subscribe('/feeds/<%=current_user.id%>', function (data) {
  	var like_count = parseInt( $("#feed_container_" + data.feed_id + " .like_cnt").text());
  	$("#feed_container_" + data.feed_id + " .like_cnt").text(like_count + data.like_count);
  });  
});
</script> -->

